[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
torch = "*"
numpy = "*"
matplotlib = "*"
transformers = "*"
openpyxl = "*"
tornado = "*"
pingouin = "==0.5.3"
scipy = "*"
statsmodels = "*"
joblib = "*"
chemspipy = "*"
pubchempy = "*"
ipykernel = "*"
setuptools = "*"
wheel = "*"
tensorflow = "*"
numba = "*"
pycaret = "*"
xgboost = "*"
corankco = "==1.0.0"

[dev-packages]

[requires]
python_version = "3.10"
